body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
html {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
body{
	width: 100%;
	height: 100vh;
	padding: 0 40px;
	box-sizing: border-box;
    background: url('../images/manager/bg.png') no-repeat;
    background-size: 100% 100%;
}
.main-body {
	display: flex;
	margin-top: 30px;
}
.head-img img {
	width: 100%;
}
.main-left {
	 flex: 3;
     width: 100%;
	 height: 638px;
	 padding: 16px 0;
	 box-sizing: border-box;
	 border: 1px solid rgba(80,149,255,1);
	 border-radius: 26px;
}
.area-h5 {
	margin: 0 20px;
}
 h5 {
	/* width:; */
	display: flex;
	align-items: center;
	/* padding: 0 40px; */
	padding-left: 20px;
	box-sizing: border-box;
	font-size: 16px;
	height:30px;
	color: #FFFFFF;
	background:linear-gradient(90deg,rgba(51,122,231,1),transparent);
}
.main-middle {
	 flex: 5;
	 height: 638px;
	 margin: 0 40px;
	 background: url(../images/welfare/new-mid.png) no-repeat;
	 background-size: 100% 100%;
}
.main-middle .group-list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 70px 30px 0 30px;
	
}
.main-middle .group-list .group-item {
	flex-basis: 200px;
	height: 100px;
	margin-bottom: 20px;
	padding: 24px 18px;
	box-sizing: border-box;
	color: #FFFFFF;
	background: url(../images/welfare/kuang.png) no-repeat;
	background-size: 100% 100%;
}
.main-middle .group-list .group-item:nth-of-type(n+1) {
	margin-right: 20px;
}
.main-middle .group-list .group-item .top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-middle .group-list .top .top-left {
	font-size: 10px;
}
.main-middle .group-list .top .top-right {
	display: flex;
	align-items: center;
	font-size: 10px;
}
.main-middle .group-list .top .top-right .arrow-icon {
	width: 10px;
	height: 9px;
	margin-right: 5px;
}
.main-middle .group-list .line{
	width: 100%;
	height: 8px;
	margin-top: -8px;
}
.main-middle .group-list .line img {
	width: 100%;
	height: 100%;
}
.main-middle .group-list .footer {
	margin-top: 22px;
	display: flex;
	align-items: flex-end;
}
.main-middle .group-list .footer .appreciation {
	width: 10px;
	height: 18px;
	margin-right: 40px;
}
/* .main-middle .group-list .footer .num {
	margin-left: 50px;
	font-size: 20px;
	color: #F5E204;
	font-weight: bold;
} */
.main-right {
	flex: 3;
	width: 100%;
}
.main-right img {
	width: 100%;
}
.main-right .main-right-top {
	height: 276px;
	width: 100%;
	padding-top: 20px;
	box-sizing: border-box;
	border: 1px solid rgba(80,149,255,1);
	border-radius: 26px;
}
.main-right .main-right-top  table {
	border-spacing: 0;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
	width: calc(100% - 40px);
	margin: 20px auto 0;
	font-size: 10px;
	
}
.main-right .main-right-top  table tr:nth-of-type(odd) {
	background: rgba(85,153,255,.1);
}
.main-right .main-right-top  table tr:nth-of-type(even) {
	/* 背景是 R85 G153 B255 A0.1 和A0.05 */
	background: rgba(85,153,255,.05);
}
.main-right .main-right-top  table th{
	padding: 8px 0;
	color: #FFFFFF;
}
.main-right .main-right-top  table td {
	padding: 8px 0;
	color: rgba(255,255,255,.65);
}
.main-right .main-right-bottom {
	margin-top: 24px;
	padding-top: 20px;
	box-sizing: border-box;
	height: 332px;
	border: 1px solid rgba(80,149,255,1);
	border-radius: 26px;
}
.main-right .main-right-bottom .text{
	font-size: 10px;
	color: #FFFFFF;
	margin: 20px 16px 0 0;
	text-align: right;
}
/* 移动范围样式 */
.mt-number-animate {
    line-height: 24px;
    height: 24px;
    font-size: 20px;
    overflow: hidden;
    position: relative;
    color: #FFDB5C;
	top: 5px;
}

 .mt-number-animate .mt-number-animate-dot {
    width: 12px;
    line-height: 24px;
    float: left;
    text-align: center;
}

.mt-number-animate .mt-number-animate-dom {
    width: 12px;
    text-align: center;
    float: left;
    position: relative;
    top: 0;
}
